* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #2C4C61;
    height: 60px;
}

/*Logo styling*/
.top-bar-left {
    display: flex;
    padding-top: 10px;
    color: #ffffff;
    width: auto;
}

.top-bar-left img {
    width: 75px;
    height: 60px;
    padding-left: 10px;
}

.top-bar-left h1 {
    padding-left: 5px;
    margin: 0;
}

/*Navigation menu styling*/
nav {
    position: absolute;
    align-items: center;
    top: 20px;
    right: 10px;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;    
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/*Body styling*/
.container{
    background-image: url(image/cloudy-sky-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 625px;
    flex-direction: column;
}

/*Section 1 styling*/
.container-top {
    color: #2C4C61;
    font-weight: 600;
    font-size: 30px;
}

.container-top p {
    display: flex;
    justify-content: center;
    margin: 20px 0% 10px 0%;
}

/*Search box styling*/
.search-box {
    text-align: center;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    margin: 0px;
    font-size: 17px;
    padding: 15px 150px;
    background-color: #ffffff;
    color: #2C4C61;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.search-box button {
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#search-button {
  width: 40px;
  height: 40px;
  padding: 0;
}

/*bottom container*/
.bottom-container {
    display: flex;
    justify-content: center;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

/*Main weather styling*/
.weather-box{
    position: relative;
    width: 450px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.weather-box p {
    color:#2C4C61;
}

#last-update {
  margin: 0;
  padding-top: 10px;
  font-size: x-small;
  color: grey;
}

#location-weather-box {
    color: #2C4C61;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}

#temperature {
    font-weight: 200;
    font-size: 50px;
    padding-top: 5px;
    margin: 0;
}

#weather-description {
    margin: 0;
    font-size: x-large;
    font-weight: 500;
}

.weather-box img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 30px;
    padding-right: 10px;
}

/*styling list search input*/
.search-box {
  position: relative;
}

.search-input {
  padding-right: 40px;
}

.search-btn {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  margin-left: 10px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
}

datalist {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

datalist option {
  padding: 8px 16px;
  cursor: pointer;
}

datalist option:hover {
  background-color: #f5f5f5;
}

/*other index weather styling*/
.index-container-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 20px 0px;
    width: 510px;
}

/*temperature styling*/
.temperature-left {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
}

.temperature-category {
    display: flex;
    padding: 5px 5px;
    position: relative;
    right: 5px;
    justify-content: center;
}

.temperature-left img {
    float: left;
    width: 30px;
    height: 30px;
}

.temperature-left p{
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    color: #2C4C61;
    font-weight: 600;
    padding: 5px 0 0 7px;
}

#temperature {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-bottom: 0;
  padding: 10px 0px;
  font-weight: 500;
}


/*wind index styling*/
.wind {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
}

.wind-category {
    display: flex;
    padding: 5px 5px;
    position: relative;
    right: 5px;
    justify-content: center;
}

.wind img {
    float: left;
    width: 30px;
    height: 30px;
}

.wind p{
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    color: #2C4C61;
    font-weight: 600;
    padding: 5px 0 0 7px;
}

#wind-content{
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 0;
    padding: 10px 0px;
    font-weight: 500;
}

/*humidity styling*/
.humidity {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
}

.humidity-category {
    display: flex;
    padding: 5px 5px;
    position: relative;
    right: 5px;
    justify-content: center;
}

.humidity img {
    float: left;
    width: 30px;
    height: 30px;
}

.humidity p{
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    color: #2C4C61;
    font-weight: 600;
    padding: 5px 0 0 7px;
}

#humidity-content{
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-bottom: 0;
  padding: 10px 0px;
  font-weight: 500;
}

/*aside weather styling*/
.forecast {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    flex-basis: 440px;
    margin-left: 10px;
    padding: 20px;
    color: #2C4C61;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    height: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.forecast h2 {
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 25px;
    padding-left: 10px;
}

.forecast-day {
    display: flex;
    align-items: center;
    margin: 9px;
}
  
.day {
    flex: 1;
    text-align: left;
    padding-left: 10px;
    font-weight: 550;
    width: 102px;
}
  
.weather-icon {
    flex: 1;
    text-align: center;
    height: 50px;
}
  
.weather-icon img {
    height: 60px;
    width: 60px;
}

.temperature {
    flex: 1;
    font-weight: 550;
    text-align: center;
}

.weather-description {
  flex: 1;
  font-size: smaller;
}
    
/*Footer styling*/
.Footer {
    background-color: #2C4C61;
    width: 100%;
    padding-bottom: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

.Footer p {
    color: white;
    font-size: 12px;
    padding-top: 5px;
    margin-left: 10px;
}


/*Mobile media */
@media (max-width:670px) {
    /* CSS untuk tampilan mobile */

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C4C61;
    font: inherit;
    color: #ffffff;
  }
  
  .top-bar-left img {
    height: 30px;
    margin-right: 10px;
  }
  
  .top-bar-left h1 {
    font-size: 18px;
    margin: 0;
  }
  
  .top-bar-right nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .top-bar-right nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .top-bar-right nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  /* Container */
  .container {
    padding: 10px;
  }
  
  .container-top {
    text-align: center;
    font-size:x-large;
  }
  
  .search-box {
    margin-top: 10px;
  }
  
  .search-input {
    width: 20%;
    font-size: 14px;
    padding: 7px 40px;
  }
  
  .search-btn {
    width: 15%;
    padding: 5px;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  .bottom-container {
    display: flex;
    flex-direction: column;
  }
  
  .container-left {
    margin-bottom: 10px;
  }
  
  .main-container-left {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .weather-box {
    text-align: center;
  }
  
  #location-weather-box {
    font-size: 16px;
    font-weight: bold;
  }
  
  #index-container-left {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .uv-index,
  .wind,
  .humidity {
    flex-basis: 30%;
  }
  
  .uv-index-category,
  .wind-category,
  .humidity-category {
    display: flex;
    align-items: center;
  }
  
  .uv-index-category img,
  .wind-category img,
  .humidity-category img {
    height: 20px;
    margin-right: 5px;
  }
  
  #forecast-container {
    margin-top: 10px;
  }
  
  .forecast {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .forecast h2 {
    margin-top: 0;
  }
  
  /* Footer */
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }  
}
