* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 400px){
  #container {
    width: 250px;
    background-color: #D9D9D9;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .container-left {
    margin-left: 50px;
    flex: 1;
    text-align: justify;
  }
  
  .container-left h1{
    padding-bottom: 25px;
    color: #2C4C61;
  }
  .container-left p{
    font-size: 10px;
  }
  
  .container-right {
    flex: 0;
    
  }
  .container-right img{
    top: 0;
    display: flex;
    padding-bottom: 100px;
  
  }
}
header {
  background-color: #2C4C61;
  height: 60px;
}
.top-bar-left {
  display: flex;
  padding-top: 10px;
  color: #EBEBF0;
  width: auto;
}

.top-bar-left img {
  width: 60px;
  height: 60px;
  padding-left: 10px;
}

.top-bar-left h1 {
  color: #EBEBF0;
  padding-left: 15px;
  margin: 0;
}
nav {
  position: absolute;
  align-items: center;
  top: 20px;
  right: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;    
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #EBEBF0;
  font-weight: bold;
}
body{
  background-color: #f9f4f4;
}
#container {
  width: 1200px;
  background-color: #D9D9D9;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.container-left {
  margin-left: 50px;
  flex: 1;
  text-align: justify;
}

.container-left h1{
  padding-bottom: 25px;
  color: #2C4C61;
}
.container-left p{
  color: #1f1f1f;
  font-size: 18px;
}

.container-right {
  flex: 0;
  
}
.container-right img{
  top: 0;
  display: flex;
  padding-bottom: 100px;

}

.centered-text{
  margin-top: 40px;
  text-align: center;
  color: #2C4C61;
}

#container2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#container3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.image {
    margin: 15px;
    position: relative;
 }
 .bg-img{
  position: relative;
  object-fit: cover;
  
}
.image img {
    display: block;
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    background-image: url(images/grey.jpg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

.my-button{
    width: 175px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #2C4C61;
    border: 1px solid black;
    border-radius: 20px;  
    cursor: pointer;        
  }
#icon {
  background-image: none;
  padding-left: 5px;
  max-width: 20%;
  height: auto;
  border-radius: 10%;
  margin-right: 1px; 
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}
.text{
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  color: #EBEBF0;
  margin-left: 5px;
}
.footer {
  background-color: #2C4C61;
  width: 100%;
  padding-bottom: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.footer p {
  color: #EBEBF0;
  font-size: 12px;
  padding-top: 5px;
}
