*{
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
}
header {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 95px;
    background-color: #2C4C61;
    font-size: 22px;
}

header h1{
    padding-left: 10px;
}

.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar img{
    padding-top: 20px;
}

header ul{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    list-style: none;
}

div {
    display: flex;
    flex-direction: row;
}

.kiri   {
    width: 457px;
    height: 785px;
    background-color: #05406D;
    border: 1px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    overflow: hidden;
}

.kiri_atas li {
    list-style: none;
    
}

.awan {
    position: absolute;
    transform: rotate(-90deg);
    margin: 80px;
}

.awan.right {
    right: 0;
}

.awan.left {
    left: 0;
}

.awan.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%) rotate(-90deg);
}

.sun {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.kiri_bawah  {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.tengah {
    width: 520px;
    list-style: none;
}

.search-input {
    background-color: #D9D9D9;
    margin-top: 10px;
    margin-left: 100px;
    width: 715px;
    height: 30px;
    border: 1px;
    border-radius: 25px;
}


.search-btn img {
    background-color: #D9D9D9;
    width: 100%;
    margin-left: 10px;
    margin-top: 14px;
    border: 1px;
    border-radius: 5px;
}

.box {
    display: flex;
    flex-wrap:wrap;
}

.box > li {
    background-color: #D9D9D9;
    width: 190px;
    height: 180px;
    margin-left: 70px;
    margin-top: 30px;
    text-align: justify;
    line-height: 75px;
    font-size: 20px;
    border: 1px;
    border-radius: 25px;
    list-style: none;
}

.box img {
    margin-top: 20px;
    margin-left: 20px;
    width: 30%;
}

.kanan {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 360px;
    height: 698px;
    margin-top: 65px;
    margin-left: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 1px;
    border-radius: 25px;
}

.kanan li {
    list-style: none;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #2C4C61;
    color: white;
}