@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
:root {
  --main-color: #2c4c61;
  --second-color: #05406d;
  --body-color: #f9f9f9;
  --shape-color: #d9d9d9;

  --main-font: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--main-font);
}
header {
  background-color: #2C4C61;
  height: 60px;
}
.top-bar-left {
  display: flex;
  padding-top: 10px;
  color: #EBEBF0;
  width: auto;
}

.top-bar-left img {
  width: 75px;
    height: 60px;
    padding-left: 10px;
}

.top-bar-left h1 {
  color: #EBEBF0;
  padding-left: 5px;
  margin: 0;
}
nav {
  position: absolute;
  align-items: center;
  top: 20px;
  right: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;    
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #EBEBF0;
  font-weight: bold;
}

div {
  display: flex;
  flex-direction: row;
}

.kiri {
  width: 457px;
  height: 850px;
  background-color: #05406d;
  border: 1px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: #fff;
  margin-left: -330px;
  margin-top: 30px;
  line-height: 40px;
}

.top-1 {
  height: 40.57px;
  font-weight: 600;
  font-size: 45px;
}

.bot-2 {
  /* width: 114.23px; */
  height: 19.83px;
  font-weight: 300;
  font-size: 25px;
}

.awan {
  position: absolute;
  transform: rotate(-90deg);
  margin: 100px;
}

.awan.right {
  margin-left: 300px;
}

.awan.left {
  margin-left: 20px;
}

.awan.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%) rotate(-90deg);
}

.sun {
  display: block;
  margin-top: 150px;
  margin-left: 100px;
  position: relative;
  z-index: 1;
}

.kiri_bawah {
  margin-left: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-top: 150px;
}

.bawah-1 {
  font-weight: 400;
  font-size: 25px;
}

.bawah-2 {
  font-weight: 400;
  font-size: 25px;
}

.bawah-3 {
  font-weight: 600;
  font-size: 70px;
}

.bawah-4 {
  font-weight: 400;
  font-size: 25px;
}
.tengah {
  width: 520px;
}

.search-box {
  display: flex;
  flex-direction: row;
}

.search-input {
  margin-left: 70px;
  margin-top: 30px;
  padding: 15px;
  background-color: #d9d9d9;
  width: 715px;
  height: 30px;
  border: 1px;
  border-radius: 25px;
}

.search-btn{
  background-color: #d9d9d9;
  border: 1px;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  margin-top: 33px;
  margin-left: 5px;

}

.search-btn img {
  width: 23px;
  height: 23px;
}
.box {
  display: flex;
  flex-wrap: wrap;
}


.cuaca-atas{
  padding-left: 12px;
  padding-top: 5px;
  display: flex;
  column-gap: 1px;
}

.cuaca-bawah{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;

}

.cuaca-bawah1 {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.cuaca-bawah2 {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.cuaca-bawah3 {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.cuaca-bawah4 {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.sunrise-sunset{
  height: auto;
  display: flex;
  flex-direction: column;
  column-gap: -10px;
  margin-top: -20px;
  margin-left: -10px;
}
.sunrise {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transform: translateY(20%);
}

.sunrise img {
  height: 45px;
}

.box li {
  background-color: #d9d9d9;
  width: 180px;
  height: 195px;
  margin-left: 60px;
  margin-top: 30px;
  line-height: 75px;
  font-size: 20px;
  font-weight: bold;
  border: 1px;
  border-radius: 25px;
  color: #2c4c61;
}

.box img {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.kanan {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 360px;
  height: 750px;
  margin: auto;
  text-align: left;
  line-height: 45px;
  font-size: 30px;
  border-radius: 25px;
  padding: 25px;
}

.box2 {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.box2 h1{
  color: #2C4C61;
  font-size: 18px;
  font-weight: 900;
  padding-top: 20px;
  padding-left: 25px;
}

.box2 li{
  color: #2C4C61;
  font-size: 20px;
  font-weight: 900;
  padding-top: 10px;
}

.today, .tue, .wed, .thu, .fri, .sat{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.mon{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Footer styling*/
.Footer {
  background-color: #2C4C61;
  width: 100%;
  padding-bottom: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.Footer p {
  color: white;
  font-size: 12px;
  padding-top: 5px;
  margin-left: 10px;
}
